name: Auto Deploy to GCP

on:
  push:
    branches: [ "main" ]

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}

permissions:
  contents: read
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Lowercase Image Name
        run: |
          echo "IMAGE_NAME=${IMAGE_NAME,,}" >> ${GITHUB_ENV}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.MY_PAT }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest
      - name: Deploy to Ngrok
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          port: ${{ secrets.PORT }}

      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "Bắt đầu deploy..."
            # Lấy lại tên image chữ thường trong môi trường server
            IMAGE_LOWER="ghcr.io/$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')"
            
            # Dừng container cũ
            docker stop chat-app || true
            docker rm chat-app || true
            
            # Pull image mới nhất về (cần image để Public hoặc login docker trên server)
            docker pull $IMAGE_LOWER:latest
            
            # Chạy container mới
            docker run -d \
              --name chat-app \
              --restart unless-stopped \
              -p 5000:5000 \
              $IMAGE_LOWER:latest
              
            echo "Deploy thành công!"
