name: Chat web

on:
  push:
    branches: [ "main" ]

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest

      - name: Deploy to GCP Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Lệnh chạy trên server GCP
            echo "Bắt đầu deploy..."
            
            # Stop container cũ
            docker stop chat-app || true
            docker rm chat-app || true
            
            # Pull image mới về
            # (Lưu ý: Lát nữa cần chỉnh permission package thành Public thì mới pull được không cần login)
            docker pull ${{ env.IMAGE_NAME }}:latest
            
            # Chạy container mới
            docker run -d \
              --name chat-app \
              --restart unless-stopped \
              -p 5000:5000 \
              ${{ env.IMAGE_NAME }}:latest
              
            echo "Deploy thành công!"
